<%- include("../partials/head") %>
<%- include("../partials/nav") %>

<main class="container">
  <h1>Détails catway <%= catway.catwayNumber %></h1>
  <p><strong>Type :</strong> <%= catway.catwayType %></p>
  <p><strong>État :</strong> <%= catway.catwayState %></p>

  <p>
    <a class="btn" href="/catways/<%= catway.catwayNumber %>/edit">Modifier l’état</a>
    <a class="btn" href="/catways">Retour</a>
  </p>
</main>

</body></html>
