<%- include("../partials/head") %>
<%- include("../partials/nav") %>

<main class="container">

  <div class="row">
  <h1>Toutes les réservations</h1>
  <a class="btn" href="/reservations/new">+ Nouvelle réservation</a>
</div>


  <% if (!reservations || reservations.length === 0) { %>
    <p>Aucune réservation.</p>
  <% } else { %>
    <table>
      <thead>
        <tr>
          <th>Catway</th>
          <th>Client</th>
          <th>Bateau</th>
          <th>Début</th>
          <th>Fin</th>
          <th>Lien</th>
        </tr>
      </thead>
      <tbody>
        <% reservations.forEach(r => { %>
          <tr>
            <td><%= r.catwayNumber %></td>
            <td><%= r.clientName %></td>
            <td><%= r.boatName %></td>
            <td><%= new Date(r.startDate).toLocaleDateString("fr-FR") %></td>
            <td><%= new Date(r.endDate).toLocaleDateString("fr-FR") %></td>
            <td>
              <a href="/catways/<%= r.catwayNumber %>/reservations">Voir</a>
            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  <% } %>
</main>

</body></html>
